<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Unit tests">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
  <logging>
    <!--
    <log type="coverage-html" target="build/html" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
    --> 
  </logging>
</phpunit>